image: mongo:latest
imagePullPolicy: IfNotPresent
replicas: 1
storage: 1Gi
rootUsername: admin
rootPassword: password

resources:
  requests:
    cpu: 10m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi
