apiVersion: apps/v1
kind: Deployment
metadata:
  name: game
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: game
        env:
        - name: LOG_LEVEL
          value: "debug"
        resources:
          requests:
            memory: "64Mi"
            cpu: "10m"
          limits:
            memory: "128Mi"
            cpu: "100m"