apiVersion: apps/v1
kind: Deployment
metadata:
  name: leaderboard
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: leaderboard
        env:
        - name: LOG_LEVEL
          value: "debug"
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"